.window {

}

.frame {

}

.seed {

}

.plaintext {
    padding: 10px;
}

.button {

}

.hideText {

}

.hideFile {

}

.unhideFile {

}

.bottomBar {

}

.bottomText {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
}

.fileChooser {

}